<div class="dice-roll">
  <div class="dice-result">
    <h4 class="dice-total">{{stealth}}</h4>
  </div>
</div>
{{#if unnoticed}}
<div data-visibility="gm">
  is <strong>Unnoticed</strong> by<hr>
  {{#each unnoticed.targets as |target|}}
  <b>{{target.name}}</b> {{target.delta}}.<br>
  {{/each}}
</div>
{{/if}}
{{#if undetected}}
<div data-visibility="gm">
  is <strong>Undetected</strong> by<hr>
  {{#each undetected.targets as |target|}}
  <b>{{target.name}}</b> {{target.delta}}.<br>
  {{/each}}
</div>
{{/if}}
{{#if observed}}
<div data-visibility="gm">
  <i>(Check for +2/+4 cover)</i><br>
  is <strong>Observed</strong> by<hr>
  {{#each observed.targets as |target|}}
  <b>{{target.name}}</b> {{target.delta}}.<br>
  {{/each}}
</div>
{{/if}}