<div class="dice-roll">
  <div class="dice-result">
    <h4 class="dice-total">{{stealth}}</h4>
  </div>
</div>
{{#if Unnoticed}}
<div data-visibility="gm">
  is <strong>Unnoticed</strong> by<hr>
  {{#each Unnoticed.targets as |target|}}
  <b>{{target.name}}</b> {{target.delta}}.<br>
  {{/each}}
</div>
{{/if}}
{{#if Undetected}}
<div data-visibility="gm">
  is <strong>Undetected</strong> by<hr>
  {{#each Undetected.targets as |target|}}
  <b>{{target.name}}</b> {{target.delta}}.<br>
  {{/each}}
</div>
{{/if}}
{{#if Observed}}
<div data-visibility="gm">
  <i>(Check for +2/+4 cover)</i><br>
  is <strong>Observed</strong> by<hr>
  {{#each Observed.targets as |target|}}
  <b>{{target.name}}</b> {{target.delta}}.<br>
  {{/each}}
</div>
{{/if}}